* {
    font-family: Helvetica, sans-serif;
}

#top {
    border: 2px solid black;
}

a {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 35px;
    color: orange;
    margin-left: 10px;
    clear: left;
}

form {
    color: mediumpurple;
}

#text {
    margin-left: 40px;
    margin-bottom: 10px;
}

.text_box {
    margin: 5px;
    border: 2px solid black;
}

#checkboxes {
    margin-left: 40px;
    display: inline-block;
}

#submit_button {
    margin-top: 20px;
    margin-left: 40px;
    clear: left;
}

button {
    background-color: orange;
    font-size: 15px;
}

