* {
    font-family: Helvetica, sans-serif;
}

img {
    margin-left: 250px;
}

head {
    font-size: 100px;
}

p {
    color: #CC16C9;
    margin-left: 300px;
    font-size: 60px;
}

h1 {
    font-size: 75px;
}